<h1>Pokemomos!</h1>
<br>
<div class="form">
<form #formlogin = "ngForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Usuario" value="" [(ngModel)]="user.username" name="username">
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <input matInput placeholder="Contraseña" type="password" value="" [(ngModel)]="user.password" name="password">
  </mat-form-field>
  <br><br>
  <button mat-raised-button color="primary" routerLink="/home">Enviar</button>
</form>
</div>
  {{user.username}}<br>
  {{user.password}}
<br><br>

